.author {
  ul {
    padding: 0;
    margin: 0 auto;
    min-width: 100%;

    li {
      list-style: none;
      img {
        float: left;
        transition: .3s all ease-in-out;
        padding: 10px 20px;
        border-radius: 100px;
        margin-top: -15px;
        margin-left: -15px;
        width: 100%;
        max-width: 290px;
        shape-outside: ellipse();
      }
      h1 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
        text-indent: 3%;
      }
    }
  }
}

.author-articles {
  background: white;
  margin-top: 50px;
  margin: 30px 0;
  padding: 10px 5px 20px 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);

  .article-list-item-image {
    margin-bottom: 10px;
  }
  .article-list-item {
    padding-top: 15px;
    h4 {
      color: $dark-blue;
    }
  }
  .article-list-item-body {
    padding-top: 0;
  }
}

@media (max-width: 450px) {
  .author {
    ul {
      li {
        img {
          margin-left: -25%;
          margin-right: 10px;
          width: 60%;
          border-radius: 110px;
          margin-top: inherit;
          padding: 0 10px;
        }
      }
    }
  }
}
