.author {
  ul {
    padding: 0;
    margin: 0 auto;
    min-width: 100%;

    li {
      list-style: none;
      img {
        float: left;
        transition: .1s all ease-in-out;
        padding: 10px;
        border-radius: 110px;
        margin-top: -25px;
        width: 100%;
        max-width: 290px;
      }
      h1 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
  }

}

@media (max-width: 400px) {
  .author {
    ul {
      li {
        img {
          margin-left: -120px;
        }
      }
    }
  }
}
